{% extends 'blog_app/base.html' %}

{% block content %}
    <div id="central">
        <div style="margin: 10px 20px 0px 20px;">
            <div id="about">

                <div id="about-title">About</div>
                <div id="about-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis.</br></br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. 
                </div>

            </div>
        </div>
    </div>
{% endblock %}







