{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>Tytuł</title>
	<meta name="description" content="Blog project made with Django." />
	<meta name="keywords" content="Django, project, blog, Python, backend, frontend, framework, programming, web development" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=latin-ext">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'blog_app/style.css' %}" type="text/css" >

	
</head>

<body>
	
	<div id="container">

		<div id="topbar">
			<a href="{% url 'home' %}">Django'wy blog</a>
		</div>
		{% if user.is_superuser %}
			<div id="adminbar">
				<div id="adminbar_text">
					Admin mode: ON
					<a href="{% url 'post_add' %}"><span class="glyphicon glyphicon-plus"></span></a>
				</div>
			</div>
		{% endif %}
		
		{% block content %}
		{% endblock %}

		<div id="footer">
			Maciej Wilk 2020 &copy; All rights reserved
		</div>

	</div>
	
</body>
</html>