{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<title>Blog app</title>
	<meta name="description" content="Blog project made with Django." />
	<meta name="keywords" content="Django, project, blog, Python, backend, frontend, framework, programming, web development" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Halant:wght@300;500&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'blog_app/style.css' %}" type="text/css" >

	
</head>

<body>
	
	<div id="container">

		<div id="topbar">
			<div class="optionL"><a href="{% url 'home' %}">Home</a></div>
			<div class="optionL"><a href="{% url 'archive' %}">Archive</a></div>
			<div class="optionL"><a href="{% url 'about' %}">About</a></div>
			{% if not user.is_authenticated %}
				<div class="optionR"><a href="{% url 'login' %}">Login</a></div>
				<div class="optionR"><a href="{% url 'signup' %}">Signup</span></a></div>
			{% else %}
				<div class="optionR"><a href="{% url 'logout' %}">(Logout)</a></div>
				<div class="optionR">{{ user }}</div>
				<div style="clear: both;"></div>
			{% endif %}
		</div>
		
		<div id="titlebar">
			<a href="{% url 'home' %}">Blog app</a>
			<p>Simple blog application</p>
		</div>

		{% if user.is_superuser %}
			<div id="adminbar">
				ADMIN MODE
				<button class="btn btn-default"><a href="{% url 'post_drafts' %}">Drafts</a></button>
				<button class="btn btn-default"><a href="{% url 'post_add' %}">Write</a></button>
			</div>
		{% endif %}
		
		{% block content %}
		{% endblock %}

		<div id="footer">
			Maciej Wilk 2020 &copy; All rights reserved
		</div>

	</div>
	
</body>
</html>