{% extends 'blog_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="leftside">
    {% else %}
        <div id="fullpage">
    {% endif %}
        <div class="post_details">
            <div class="title_details">
                {{ post.title }}
                {% if post.publication_date %}
                    <span>{{ post.publication_date|date:'d-m-Y' }}</span>
                {% endif %}
            </div>
            <div class='content_details'>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <div class='author'>
                {{ post.author }}
            </div>
            {% if user.is_authenticated %}
                <div class=comment_form>
                    <form method="POST">{% csrf_token %}
                        {{ form.as_p }}
                        <button style="margin-right: 10px;" class="btn btn-primary pull-right" type="submit">Send</button>
                    </form>
                </div>
            {% else %}
                <p> To add comments you need to <a href="{% url 'login' %}">LogIn</a></p>
            {% endif %}
            {% for comment in comments_list %}
                <div class="comment">
                    <div class="date">{{ comment.created_on }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
            {% empty %}
                <p>There is no comments yet.</p>
            {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}
        <div id="rightside">
            {% if not post.publication_date %}
                <span><a href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-share-alt"></span></a>
                <span><a href="{% url 'draft_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <span><a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    {% endif %}
{% endblock %}