{% extends 'blog_app/base.html' %}

{% block content %}
    <div id="central">
        <div class="post">

            <div class="post-title">
                {{ post.title }}
            </div>

            <div class="post-info">
                <span class="glyphicon glyphicon-calendar" style="margin-right: 2px;"></span>
                <span style="margin-right: 10px;">{{ post.publication_date|date:'d.m.Y' }}</span>
                <span class="glyphicon glyphicon-user" style="margin-right: 2px;"></span>
                <span style="margin-right: 10px;">{{ post.author }}</span>
                <span class="glyphicon glyphicon-comment" style="margin-right: 2px;"></span>
                <span style="margin-right: 10px;">{{ post.comments.count }}</span></a>
                <span class="glyphicon glyphicon-eye-open" style="margin-right: 2px;"></span>
                <span style="margin-right: 10px;">{{ post.counter }} 
                    {% if post.counter == 1 %}
                        view
                    {% else %}
                        views
                    {% endif %}
                </span>
                {% if user.is_superuser %}
                    {% if not post.publication_date %}
                        <span><a href="{% url 'post_publish' pk=post.pk %}" style="color: green">Publish</a></span>
                        <span><a href="{% url 'draft_delete' pk=post.pk %}" style="color: red">Delete</a></span>
                    {% else %}
                        <span><a href="{% url 'post_edit' pk=post.pk %}" style="color: blueviolet">Edit</a></span>
                        <span><a href="{% url 'post_delete' pk=post.pk %}" style="color: red">Delete</a></span>
                    {% endif %}
                {% endif %}
            </div>

            <div class="content">
                {{post.text|linebreaksbr}}
            </div>
            
        </div>

        {% if user.is_authenticated %}
            <div class=comment-form>
                <form method="POST">{% csrf_token %}
                    {{ form.as_p }}
                    <button style="margin-right: 40px;" class="btn btn-primary pull-right" type="submit">Send</button>
                </form>
            </div>
        {% else %}
            <div id="info">
                <a href="{% url 'login' %}">Login</a> to add comments.
            </div>
        {% endif %}
        
        <div class="comment">
        {% for comment in comments_list %}
            <div class="comment-info">
                <span style="font-size: 17px;"><strong>{{ comment.author }} &diams; </strong></span>
                <span>{{ comment.created_on }}</span>
                {% if user.is_superuser %}
                    <span style="color: red"><a href="{% url 'comment_delete' pk=comment.pk %}">Delete</a></span>
                {% endif %}
            </div>
            {{comment.text|linebreaksbr}}
        {% empty %}
            <div id="info">There is no comments yet.</div>
        {% endfor %}
        </div> 
    </div>
{% endblock %}