{% extends 'blog_app/base.html' %}

{% block content %}
    {% if posts %}
        <div id="central-drafts">

            {% for post in posts %}
                <div class="post">

                    <div class="post-title">
                        <a href="{% url 'post_edit' pk=post.pk %}">{{ post.title }}</a></br>
                        <span style="font-size: 18px;">(draft)</span>
                    </div>

                    <div class="post-info">
                        <span class="glyphicon glyphicon-calendar" style="margin-right: 2px;"></span>
                        <span style="margin-right: 10px;">{{ post.creation_date|date:'d.m.Y' }}</span>
                        <span class="glyphicon glyphicon-user" style="margin-right: 2px;"></span>
                        <span style="margin-right: 10px;">{{ post.author }}</span>
                        <span><a href="{% url 'post_publish' pk=post.pk %}" style="color: green">Publish</a></span>
                        <span><a href="{% url 'post_edit' pk=post.pk %}" style="color: blueviolet">Edit</a></span>
                        <span><a href="{% url 'draft_delete' pk=post.pk %}" style="color: red">Delete</a></span>
                 
                    </div>

                    <div class="content">
                        {{post.text|truncatewords:120}}</br>
                    </div>
                    
                </div>
            {% endfor %}

        </div>
    {% else %}
        <div id="central">
            <h3><span style="color: black; padding-left: 20px;">Folder is empty...</span></h3>
        </div>
    {% endif %}
    
{% endblock %}