{% extends 'blog_app/base.html' %}

{% block content %}
    <div id="leftside">

        {% for post in post_list %}
            <div class="post">

                    <div class="title">
                        {{ post.title }}
                        <span>{{ post.publication_date|date:'d-m-Y' }}</span>
                    </div>

                    <div class="content">
                        {{post.text|truncatechars:1000}}
                    </div>
                    
            </div>
        {% endfor %}

    </div>
            
    <div id="rightside">
        <div id="archive">
            <div id="archive_title">Archive</div>
            {% for year in unique_years %}
                <div class="year">
                    {{ year }}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}