{% extends 'blog_app/base.html' %}

{% block content %}
    <div id="leftside">

        {% for post in post_list %}
            <div class="post">

                <div class="post-title">
                    <a href="{% url 'details' pk=post.pk %}">{{ post.title }}</a>
                </div>

                <div class="post-info">
                    <span class="glyphicon glyphicon-calendar" style="margin-right: 2px;"></span>
                    <span style="margin-right: 10px;">{{ post.publication_date|date:'d.m.Y' }}</span>
                    <span class="glyphicon glyphicon-user" style="margin-right: 2px;"></span>
                    <span style="margin-right: 10px;">{{ post.author }}</span>
                    <span class="glyphicon glyphicon-comment" style="margin-right: 2px;"></span>
                    <span style="margin-right: 10px;">{{ post.comments.count }}</span>
                    <span class="glyphicon glyphicon-eye-open" style="margin-right: 2px;"></span>
                    <span style="margin-right: 10px;">{{ post.counter }} 
                        {% if post.counter == 1 %}
                            view
                        {% else %}
                            views
                        {% endif %}
                    </span>
                    
                </div>

                <div class="content">
                    {{post.text|truncatewords:120}}</br>
                    <div class="content-link">
                        <a href="{% url 'details' pk=post.pk %}">READ MORE</a>
                    </div>
                </div>
                <div class="post-categories">
                    <a href="{% url 'category' number=post.category1 %}"><button>{{post.get_category1_display}}</button></a>
                    {% if post.category2 %}
                    <a href="{% url 'category' number=post.category2 %}"><button>{{post.get_category2_display}}</button></a>
                    {% endif %}
                    {% if post.category3 %}
                    <a href="{% url 'category' number=post.category3 %}"><button>{{post.get_category3_display}}</button></a>
                    {% endif %}
                </div>
                
            </div>
        {% endfor %}

    </div>

    <div id="rightside">
        <div id="about">
            <div id="about-title">About</div>
            <div id="about-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur lorem eu ante accumsan, tristique ultrices ante lobortis. Suspendisse sed nisi sed tellus euismod iaculis sit amet in arcu. 
            </div>
        </div>
        <div id="archive">
            <div id="archive-title">Archive</div>
            {% for year in unique_years %}
                <div class="archive-year">
                    <a href="{% url 'archive_list' year=year %}">{{ year }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}